html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    background-color: rgb(134, 134, 134);
}

.calcContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px inset rgb(194, 194, 194);
    border-radius: 10px;
    max-height: 800px;
    min-height: 600px;
    max-width: 400px;
    min-width: 300px;
}

.screenContainer {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(255, 253, 244);
    border: 1px inset black;
    border-radius: 10px 10px 0 0;
}

.screenContainer .result {
    display: flex;
    font-size: 60px;
}

.lastOperation {
    position: absolute;
    top: 0px;
}

.buttonsContainer {
    display: flex;
    flex: 5 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.row1 button, .row2 button, .row3 button, .row4 button, .row5 button {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    border: 1px inset black;
    font-size: 20px;
}

.zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .decimal {
    background-color: antiquewhite;
}

.row1 button {
    background-color: rgb(255, 169, 169);
}

.equal {
    background-color: aquamarine;
}

.subtract, .divide, .add, .multiply {
    background-color: rgb(255, 244, 148);
}

.zero {
    border-radius: 0 0 0 10px;
}

.add {
    border-radius: 0 0 10px 0;
}

button {
    cursor:pointer;
    background: white;
}

button:active {
    background: rgb(209, 209, 209);
    border: 1px solid black;
}

.result {
    font-size: 40px;
    padding: 0 10px;
}